## Ignore File ##
.idea/*
web/web_sqlite3
web/db.sqlite3
web/media/*
web/upload_app/__pycache__/*
web/upload_app/ida/__pycache__/*
web/upload_app/mongodb/__pycache__/*
web/upload_app/es/__pycache__/*
web/upload_app/migrations/*
web/web/__pycache__/*
opseq_ida/*
