## Ignore File ##
.idea/
__pycache__/

web/web_sqlite3
web/db.sqlite3
web/media/*
web/upload_app/migrations/

normal_json/
sample_report/

fh_acs/
fh_fops/
fops/
idb/

tensorflow_model/static_bc_model.ckpt*
tensorflow_model/static_mc_model.ckpt*
tensorflow_model/dynamic_model.ckpt*
tensorflow_model/dynamic_bc_model.ckpt*
tensorflow_model/dynamic_mc_model.ckpt*