{% extends 'layout.html' %} {% block content %} {% load staticfiles %}
<script src="{% static  '/js/detail_script.js' %}"></script>
<script src="{% static  '/js/progress.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static '/css/report.css' %}" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
<script src="{% static  '/js/chart.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static '/css/chart.css' %}" />

<!-- Start Report Row -->
<div class="container-report">
    <div class="row">
        <div class="row-detail">

            <div class="panel panel-default">

                <div class="panel-heading">
                    <span>파일 정보</span>
                </div>
                <div class="panel-body">

                    <img src="{% static 'result_file.png' %}" class="img_file" align="absmiddle">


                    <div class="text_name">
                        <p><strong>파일 MD5 </strong></p>
                        <p><strong>리포트 수집 날짜</strong></p>
                        <p><strong>바이러스 감지 여부</strong></p>
                    </div>

                    <div class="text_data">
                        <p>{{ report_form.fields.md5.initial }}</p>
                        <p>{{ report_form.fields.collected_date.initial }}</p>
                        {% if classification_data_form.fields.detected.initial == 1 %}
                        <p>True</p>
                        {% elif classification_data_form.fields.detected.initial == 0 %}
                        <p>False</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% if classification_data_form.fields.detected.initial == 1 %}
    <div class="row">
        <div class="row_detail_2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Chart</span>
                </div>
                <div class="panel-body">
                    <div class="panel-body-half">
                        <label id="virus-percent">바이러스 확률</label>
                        <div class="progress progress-bar-vertical">
                            <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow={{ classification_data_form.fields.result_bc.initial }} aria-valuemin="0" aria-valuemax="100">
                                {{ classification_data_form.fields.result_bc.initial }}%
                            </div>
                        </div>
                    </div>
                    <div class="panel-body-half">
                        <div id="canvas-holder" mc-data-set={{ classification_data_form.fields.result_mc.initial }}>
                            <canvas id="chart-area"></canvas>
                        </div>
                        <script src="{% static  '/js/chart-doughnut.js' %}"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!--Tags-->
    <div class="row">
        <div class="row_detail_2">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <span>시그니처</span>
                </div>
                <div class="panel-body">
                    {% if signature_forms != None %}
                        {% for signature_form in signature_forms %}
                            {% if signature_form.fields.severity.initial == 1 %}
                                <span class="badge badge-pill light-blue" id="badge_color_blue">{{ signature_form.fields.description.initial }}</span> <br/>
                            {% elif signature_form.fields.severity.initial == 2 %}
                                <span class="badge badge-pill light-blue" id="badge_color_yellow">{{ signature_form.fields.description.initial }}</span> <br/>
                            {% elif signature_form.fields.severity.initial >= 3 %}
                                <span class="badge badge-pill light-blue" id="badge_color_red">{{ signature_form.fields.description.initial }}</span> <br/>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <span>There are no signatures </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="row_detail_2">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <span>Import DLL</span>
                </div>
                <div class="panel-body">
                    {% if DLL_forms != None %}
                        {% for DLL_form in DLL_forms %}
                            <span class="badge badge-pill light-blue" >{{ DLL_form.fields.DLL_name.initial }}</span>
                        {% endfor %}
                    {% else %}
                            <span>There is no Import DLL</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row_detail_2">
            <div class="panel panel-default panel-vertical-left">
                <div class="panel-heading">
                    <span>Connects Host</span>
                </div>
                <div class="panel-body">
                    {% if connects_host_forms != None %}
                    <ul>
                        {% for connects_host_form in connects_host_forms %}
                            <li>{{ connects_host_form.fields.host.initial }}1234</li>
                        {% endfor %}
                        
                    </ul>
                    {% else %}
                            <span>There is no Connects Hosts</span>
                    {% endif %}
                </div>
            </div>
            <div class="panel panel-default panel-vertical-right">
                <div class="panel-heading">
                     <span>Connects IP</span>
                </div>
                <div class="panel-body">
                     {% if connects_ip_forms != None %}
                    <ul>
                        
                        {% for connects_ip_form in connects_ip_forms %}
                        <li>{{ connects_ip_form.fields.ip.initial }}</li>
                        {% endfor %}
                        
                    </ul>
                    
                    {% else %}               
                            <span>There is no Connects IP</span>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}
