{% load staticfiles %}
<!DOCTYPE html>
<html style="height: 100%;">

<head>
    <title>{% block page_title %}MASK{% endblock %}</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}" >
    <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
    <script src="{% static  '/js/bootstrap.js' %}"></script>
    <script src="{% static  '/js/layout.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top border-bottom navbar-custom" >
        <div class="container-fluid">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <span class="navbar-brand-custom1">N</span>
                <span class="navbar-brand-custom2">C</span>
                <span class="navbar-brand-custom1">N</span>
                <span class="navbar-brand-custom2">P</span>
                <span class="navbar-brand-project">&nbsp;:&nbsp;</span>
                <a class="navbar-brand-project" href="/" > MASK</a>
                
            </div>
            <div class= "navbar-collapse collapse" id="navbar" >
                <ul class="nav navbar-nav">
                    <li><a class="navbar-right-li" href="/upload/">분석</a></li>
                    <li><a class="navbar-right-li" href="/statistics/">통계</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">

                {% block content %} {% endblock %}

    </div>

</body>

</html>
