{% extends 'layout.html' %} {% block content %} {% load staticfiles %}
<script src="{% static  '/js/detail_script.js' %}"></script>
<script src="{% static  '/js/progress.js' %}"></script>
<script src="{% static  '/js/chart.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static '/css/report.css' %}" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
<script src="{% static  '/js/chart.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static '/css/chart.css' %}" />


<!-- Start Report Row -->
<div class="container-report">
    <div class="row">
        <div class="row-detail">

            <div class="panel panel-default">

                <div class="panel-heading">
                    <span>파일 정보</span>
                </div>
                <div class="panel-body">

                    <img src="{% static 'result_file.png' %}" class="img_file" align="absmiddle">


                    <div class="text_name">
                        <p><strong>파일 MD5 </strong></p>
                        <p><strong>리포트 수집 날짜</strong></p>
                        <p><strong>바이러스 감지 여부</strong></p>
                    </div>

                    <div class="text_data">
                        <p>{{ report_form.fields.md5.initial }}</p>
                        <p>{{ report_form.fields.collected_date.initial }}</p>
                        {% if classification_data_form.fields.detected.initial == 1 %}
                        <p>True</p>
                        {% elif classification_data_form.fields.detected.initial == 0 %}
                        <p>False</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if classification_data_form.fields.detected.initial == 1 %}
    <div class="row">
        <div class="row_detail_2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Chart</span>
                </div>
                <div class="panel-body">
                    <div class="panel-body-half">
                        <label id="virus-percent">바이러스 확률</label>
                        <div class="progress progress-bar-vertical">
                            <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow={{ classification_data_form.fields.result_bc.initial }} aria-valuemin="0" aria-valuemax="100">
                                {{ classification_data_form.fields.result_bc.initial }}%
                            </div>
                        </div>
                    </div>
                    <div class="panel-body-half">
                        <div id="canvas-holder" mc-data-set={{ classification_data_form.fields.result_mc.initial }}>
                            <canvas id="chart-area"></canvas>
                        </div>
                        <script src="{% static  '/js/chart-doughnut.js' %}"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}


    <div class="row">
        <div class="row_detail_2">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <span>PE 파일 정보</span>
                </div>
                <div class="panel-body">
                    {% if peviewer_section_forms != None %}
                    <label class="peviewer-head-label">Section Info</label>
                    <div class="peviewer-section-table">
                        <div class="peviewer-section-thead">
                            <div class="peviewer-section-tr">
                                <div class="peviewer-section-th"><strong>Name</strong></div>
                                <div class="peviewer-section-th"><strong>Virtual Address</strong></div>
                                <div class="peviewer-section-th"><strong>Virtual Size</strong></div>
                                <div class="peviewer-section-th"><strong>Raw Data Size</strong></div>
                                <div class="peviewer-section-th"><strong>Suspicious</strong></div>
                                <div class="peviewer-section-th"><strong>MD5</strong></div>
                            </div>
                        </div>
                        <div class="peviewer-section-tbody">
                            {% for peviwer_section_form in peviewer_section_forms %}
                            <div class="peviewer-section-tr">
                                <div class="peviewer-section-td"> {{ peviwer_section_form.fields.name.initial }}</div>
                                <div class="peviewer-section-td"> {{ peviwer_section_form.fields.virtual_address.initial }} </div>
                                <div class="peviewer-section-td"> {{ peviwer_section_form.fields.virtual_size.initial }}</div>
                                <div class="peviewer-section-td"> {{ peviwer_section_form.fields.size_raw_data.initial }}</div>
                                <div class="peviewer-section-td"> {{ peviwer_section_form.fields.suspicious.initial }}</div>
                                <div class="peviewer-section-td"> {{ peviwer_section_form.fields.hash_md5.initial }}</div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}

                    {% if peviewer_import_function_forms != None %}
                    <label class="peviewer-head-label">Import Functions</label>
                    {% for import_function_form in peviewer_import_function_forms %}
                        <div class="peviewer-import-function-div"> &bull; {{ import_function_form.fields.name.initial }}</div>
                    {% endfor %}
                    {% endif %}


                </div>
            </div>
        </div>

    {% if ssdeep_forms != 0 %}
    <div class="row">
        <div class="row_detail_2">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <span>유사 파일</span>
                </div>
                <div class="panel-body">

                    <table id='ssdeep_table'>
                        <form action="" id="idxButtonForm">
                        </form>
                        <tbody>
                            {% for ssdeep_form in ssdeep_forms %}
                            <tr>
                                <td class="name_td"><strong>&emsp;&nbsp;File MD5</strong></td>
                                <td> {{ ssdeep_form.fields.md5.initial }}</td>
                            </tr>
                            <tr>
                                <td class="name_td"><strong>&emsp;&nbsp;점수</strong></td>
                                <td> {{ ssdeep_form.fields.score.initial }} </td>
                            </tr>
                            <tr>-
                                <td class="name_td"><strong>&emsp;&nbsp;바이러스 탐지 결과 </strong></td>
                                <td> {{ ssdeep_form.fields.detected.initial }}</td>
                            </tr>
                            <tr>
                                <td class="name_td"><strong>&emsp;&nbsp;바이러스 분석 결과</strong></td>
                                <td> {{ ssdeep_form.fields.result.initial }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="row_detail_2">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <span>유사 파일</span>
                </div>
                <div class="panel-body">
                    <h2> 검색된 유사한 파일이 존재하지 않습니다 </h2>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>


{% endblock %}
