{% extends 'layout.html' %} {% block content %} {% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static '/css/statistics.css' %}" />

<div class="container-report">
    <div class="row">
        <div class="row-detail">

            <div class="panel panel-default">

                <div class="panel-heading">
                    <span>통계자료</span>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}