{% extends 'layout.html' %} {% block content %} {% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static '/css/statistics.css' %}" />

<div class="container-report">
    <div class="row">
        <div class="row-detail">

            <div class="panel panel-default">

                <div class="panel-heading">
                    <span>통계자료</span>
                </div>
                <div class="panel-body">
                <iframe id="kibana-dashboard" src="http://203.246.112.137:5601/app/kibana#/dashboard/AWOWO1lU5JmCI5b7K-1M?embed=true&_g=(refreshInterval%3A(display%3AOff%2Cpause%3A!f%2Cvalue%3A0)%2Ctime%3A(from%3Anow-12h%2Cmode%3Aquick%2Cto%3Anow))" height="700px" width="100%"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}