@charset "utf-8";

@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

html {
    height: 100%;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
    color: #8ad5dd;
    background-color: #ffffff;
    padding-top: 60px;
    height: 99%;
}


.Loading {
    width: 100%;
    max-width: 800px;
    position: relative;
    margin: auto;
    padding-top: 20%;
    font-weight: 700;
    color: #2f2f33;
    font-size: 4.8vw;
    text-align: center;
}