
#canvas-holder {
    width: 400px;
    height: auto !important;
    margin-left: -25%;
    margin-top: 20px;
}


	canvas {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
