@charset "utf-8";

@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

html {}

body {
    font-family: 'Nanum Gothic', sans-serif !important;
    color: #2f2f33;
    background-color: #FEFEFE !important;
    padding: 50px 0px;
    margin: 0;
    height: 100%;
}

h1{
    font-weight: 800;
}

h3 {
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
}

.jumbotron p {
    font-size: 1.5em;
}

.col-lg-2 p {
    font-weight: 500;
    text-align: center;
}

.jumbotron {
	background-color: #eee;
    color: #2f2f33;
    padding: 0px 0px;
    display: inline-flex;
    margin-top: -20px;
}

#jumbotron-id {
    width:100%;
    height: 380px;
}

#main-img {
	margin-left: 10%;
}

.main-img {
    width: 170px;
    height: 100%;
}


#main-text {
    margin: 5% 10% 6% 10%;
    height: 100%;
}

#fadein-img {
	margin-left: 7%;
}

.col-lg-2 {
    display: inline-grid !important; 
	margin: 7% 0% 0% 12% !important;
    max-width: 210px !important;
}

.container {
    display: inline;
    margin: 0px 0px !important;
}